In [59]:
####################### PRE-PROCESS ###########################
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [60]:
# Chemin vers le dataset Telco Customer Churn
file_path = "../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv"

# Chargement du dataset
df_raw = pd.read_csv(file_path)

In [61]:
# Aperçu initial
# Aperçu des dimensions
print(f"Dimensions du dataset : {df_raw.shape[0]} lignes × {df_raw.shape[1]} colonnes")

# Affichage des 5 premières lignes
print("Aperçu des 5 premières lignes :")
display(df_raw.head())

Dimensions du dataset : 7043 lignes × 21 colonnes
Aperçu des 5 premières lignes :

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [62]:
# Analyse : types, valeurs uniques, valeurs manquantes, exemple de valeur
types = df_raw.dtypes
missing = df_raw.isnull().sum()
n_unique = df_raw.nunique()
sample_values = df_raw.iloc[0]

# Création du tableau de synthèse
overview = pd.DataFrame({
    "Type": types,
    "Valeurs_uniques": n_unique,
    "Valeurs_manquantes": missing,
    "Exemple_valeur": sample_values
})

overview.sort_values(by="Valeurs_manquantes", ascending=False)

,Type,Valeurs_uniques,Valeurs_manquantes,Exemple_valeur
customerID,object,7043,0,7590-VHVEG
gender,object,2,0,Female
SeniorCitizen,int64,2,0,0
Partner,object,2,0,Yes
Dependents,object,2,0,No
tenure,int64,73,0,1
PhoneService,object,2,0,No
MultipleLines,object,3,0,No phone service
InternetService,object,3,0,DSL
OnlineSecurity,object,3,0,No
OnlineBackup,object,3,0,Yes
DeviceProtection,object,3,0,No
TechSupport,object,3,0,No
StreamingTV,object,3,0,No
StreamingMovies,object,3,0,No
Contract,object,3,0,Month-to-month
PaperlessBilling,object,2,0,Yes
PaymentMethod,object,4,0,Electronic check
MonthlyCharges,float64,1585,0,29.85
TotalCharges,object,6531,0,29.85
Churn,object,2,0,No

In [63]:
df_raw.describe(include='all')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,...,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,...,3,3,3,3,3,2,4,NaN,6531,2
top,7590-VHVEG,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,...,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

In [64]:
# Nombre de lignes dupliquées
print("Duplicated rows:", df_raw.duplicated().sum())

Duplicated rows: 0

In [65]:
for col in df_raw.select_dtypes(include="object").columns:
    print(f"{col} - unique values: {df_raw[col].nunique()}")
    print(df_raw[col].value_counts().head())
    print("----")

customerID - unique values: 7043
customerID
7590-VHVEG    1
5575-GNVDE    1
3668-QPYBK    1
7795-CFOCW    1
9237-HQITU    1
Name: count, dtype: int64
----
gender - unique values: 2
gender
Male      3555
Female    3488
Name: count, dtype: int64
----
Partner - unique values: 2
Partner
No     3641
Yes    3402
Name: count, dtype: int64
----
Dependents - unique values: 2
Dependents
No     4933
Yes    2110
Name: count, dtype: int64
----
PhoneService - unique values: 2
PhoneService
Yes    6361
No      682
Name: count, dtype: int64
----
MultipleLines - unique values: 3
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64
----
InternetService - unique values: 3
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64
----
OnlineSecurity - unique values: 3
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64
----
OnlineBackup - unique values: 3
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
----
DeviceProtection - unique values: 3
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
----
TechSupport - unique values: 3
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
----
StreamingTV - unique values: 3
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
----
StreamingMovies - unique values: 3
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
----
Contract - unique values: 3
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64
----
PaperlessBilling - unique values: 2
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64
----
PaymentMethod - unique values: 4
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64
----
TotalCharges - unique values: 6531
TotalCharges
20.2     11
         11
19.75     9
19.9      8
19.65     8
Name: count, dtype: int64
----
Churn - unique values: 2
Churn
No     5174
Yes    1869
Name: count, dtype: int64
----

In [66]:
################ PROBLEMES A CORRIGER #################

# On réassigne df_raw à une variable plus simple `df` pour continuer les étapes de nettoyage
df = df_raw.copy()

# Conversion de TotalCharges en numérique, les erreurs sont converties en NaN
# On constate que la colonne "TotalCharges" est de type 'object' => a changer en "float"
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')

# Nombre de valeurs manquantes après conversion
missing_after_conversion = df["TotalCharges"].isnull().sum()

# Suppression des lignes avec NaN dans TotalCharges
df = df.dropna(subset=["TotalCharges"])

# Réinitialisation de l'index après suppression
df.reset_index(drop=True, inplace=True)

# Aperçu du dataset nettoyé
df.shape, missing_after_conversion, df.head()

((7032, 21),
 np.int64(11),
    customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
 0  7590-VHVEG  Female              0     Yes         No       1           No
 1  5575-GNVDE    Male              0      No         No      34          Yes
 2  3668-QPYBK    Male              0      No         No       2          Yes
 3  7795-CFOCW    Male              0      No         No      45           No
 4  9237-HQITU  Female              0      No         No       2          Yes

       MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
 0  No phone service             DSL             No  ...               No
 1                No             DSL            Yes  ...              Yes
 2                No             DSL            Yes  ...               No
 3  No phone service             DSL            Yes  ...              Yes
 4                No     Fiber optic             No  ...               No

   TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
 0          No          No              No  Month-to-month              Yes
 1          No          No              No        One year               No
 2          No          No              No  Month-to-month              Yes
 3         Yes          No              No        One year               No
 4          No          No              No  Month-to-month              Yes

                PaymentMethod MonthlyCharges  TotalCharges  Churn
 0           Electronic check          29.85         29.85     No
 1               Mailed check          56.95       1889.50     No
 2               Mailed check          53.85        108.15    Yes
 3  Bank transfer (automatic)          42.30       1840.75     No
 4           Electronic check          70.70        151.65    Yes

 [5 rows x 21 columns])

In [67]:
# Avant nettoyage : type + valeurs non convertibles
df_raw["TotalCharges"].dtype  # devrait être 'object'

# Détecter les lignes problématiques (avant)
invalid_totalcharges = df_raw[pd.to_numeric(df_raw["TotalCharges"], errors='coerce').isna()]
print(f"Lignes invalides : {len(invalid_totalcharges)}")
invalid_totalcharges[["customerID", "tenure", "MonthlyCharges", "TotalCharges"]]

Lignes invalides : 11

      customerID  tenure  MonthlyCharges TotalCharges
488   4472-LVYGI       0           52.55
753   3115-CZMZD       0           20.25
936   5709-LVOEQ       0           80.85
1082  4367-NUYAO       0           25.75
1340  1371-DWPAZ       0           56.05
3331  7644-OMVMY       0           19.85
3826  3213-VVOLG       0           25.35
4380  2520-SGTTA       0           20.00
5218  2923-ARZLG       0           19.70
6670  4075-WKNIU       0           73.35
6754  2775-SEFEE       0           61.90

In [68]:
print("Avant nettoyage :", df_raw.shape)
print("Après nettoyage :", df.shape)

Avant nettoyage : (7043, 21)
Après nettoyage : (7032, 21)

In [69]:
# Analyse après nettoyage de TotalCharges : types, valeurs manquantes, valeurs uniques, exemples
types_cleaned = df.dtypes
missing_cleaned = df.isnull().sum()
n_unique_cleaned = df.nunique()
sample_values_cleaned = df.iloc[0]

# Création du DataFrame de synthèse après nettoyage
overview_cleaned = pd.DataFrame({
    "Type": types_cleaned,
    "Valeurs_uniques": n_unique_cleaned,
    "Valeurs_manquantes": missing_cleaned,
    "Exemple_valeur": sample_values_cleaned
})

# Tri par valeurs manquantes
overview_cleaned.sort_values(by="Valeurs_manquantes", ascending=False)

,Type,Valeurs_uniques,Valeurs_manquantes,Exemple_valeur
customerID,object,7032,0,7590-VHVEG
gender,object,2,0,Female
SeniorCitizen,int64,2,0,0
Partner,object,2,0,Yes
Dependents,object,2,0,No
tenure,int64,72,0,1
PhoneService,object,2,0,No
MultipleLines,object,3,0,No phone service
InternetService,object,3,0,DSL
OnlineSecurity,object,3,0,No
OnlineBackup,object,3,0,Yes
DeviceProtection,object,3,0,No
TechSupport,object,3,0,No
StreamingTV,object,3,0,No
StreamingMovies,object,3,0,No
Contract,object,3,0,Month-to-month
PaperlessBilling,object,2,0,Yes
PaymentMethod,object,4,0,Electronic check
MonthlyCharges,float64,1584,0,29.85
TotalCharges,float64,6530,0,29.85
Churn,object,2,0,No

In [70]:
# Liste des colonnes où "No internet service" doit être remplacé par "No"
# Ces colonnes en 3 valeurs "Yes" - "No" - "No internet service" => a changer en binaire => Yes - No
internet_service_columns = [
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies'
]

# Remplacement de "No internet service" par "No"
for col in internet_service_columns:
    df[col] = df[col].replace({'No internet service': 'No'})

# Remplacement de "No phone service" par "No" dans la colonne MultipleLines
# Cette colonnes en 3 valeurs "Yes" - "No" - "No phone service" => a changer en binaire => Yes - No
df['MultipleLines'] = df['MultipleLines'].replace({'No phone service': 'No'})

# Vérification des valeurs uniques après nettoyage
cleaned_values = {col: df[col].unique() for col in internet_service_columns + ['MultipleLines']}
cleaned_values

{'OnlineSecurity': array(['No', 'Yes'], dtype=object),
 'OnlineBackup': array(['Yes', 'No'], dtype=object),
 'DeviceProtection': array(['No', 'Yes'], dtype=object),
 'TechSupport': array(['No', 'Yes'], dtype=object),
 'StreamingTV': array(['No', 'Yes'], dtype=object),
 'StreamingMovies': array(['No', 'Yes'], dtype=object),
 'MultipleLines': array(['No', 'Yes'], dtype=object)}

In [71]:
# Analyse après nettoyage des differentes colonnes comprenant 3 valeurs
types_cleaned = df.dtypes
missing_cleaned = df.isnull().sum()
n_unique_cleaned = df.nunique()
sample_values_cleaned = df.iloc[0]

# Création du DataFrame de synthèse après nettoyage
overview_cleaned = pd.DataFrame({
    "Type": types_cleaned,
    "Valeurs_uniques": n_unique_cleaned,
    "Valeurs_manquantes": missing_cleaned,
    "Exemple_valeur": sample_values_cleaned
})

# Tri par valeurs manquantes
overview_cleaned.sort_values(by="Valeurs_manquantes", ascending=False)

,Type,Valeurs_uniques,Valeurs_manquantes,Exemple_valeur
customerID,object,7032,0,7590-VHVEG
gender,object,2,0,Female
SeniorCitizen,int64,2,0,0
Partner,object,2,0,Yes
Dependents,object,2,0,No
tenure,int64,72,0,1
PhoneService,object,2,0,No
MultipleLines,object,2,0,No
InternetService,object,3,0,DSL
OnlineSecurity,object,2,0,No
OnlineBackup,object,2,0,Yes
DeviceProtection,object,2,0,No
TechSupport,object,2,0,No
StreamingTV,object,2,0,No
StreamingMovies,object,2,0,No
Contract,object,3,0,Month-to-month
PaperlessBilling,object,2,0,Yes
PaymentMethod,object,4,0,Electronic check
MonthlyCharges,float64,1584,0,29.85
TotalCharges,float64,6530,0,29.85
Churn,object,2,0,No

In [72]:
#### --- ÉTAPE 1 : Encodage binaire des colonne a 2 categories

# Yes/No => 0/1
# Female/Male => 0/1
# les modèles ML attendent en entrée des valeurs numériques 

# Colonnes à encoder en binaire (Yes/No → 1/0)
binary_map = {'Yes': 1, 'No': 0, 'Female': 0, 'Male': 1}

binary_columns = [
    'gender', 'Partner', 'Dependents',
    'PhoneService', 'PaperlessBilling', 'MultipleLines',
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies',
    'Churn'  # target
]

# Application de l'encodage binaire
for col in binary_columns:
    df[col] = df[col].map(binary_map)

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,DSL,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,DSL,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,3668-QPYBK,1,0,0,0,2,1,0,DSL,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,0,DSL,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [73]:
#### --- ÉTAPE 2 : Encodage one-hot des colonnes à plus de 2 catégories ---

# A appliquer sur les colonnes catégorielles non-binaire
# Chaque variable catégorielle sera transformée en plusieurs colonnes numériques binaires.
# Colonnes avec 3 catégories ou plus
onehot_columns = ['InternetService', 'Contract', 'PaymentMethod']

# Encodage one-hot avec drop_first pour éviter la multicolinéarité
df = pd.get_dummies(df, columns=onehot_columns, drop_first=True)

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,0,1,0,1,0,0,0,1,...,29.85,29.85,0,False,False,False,False,False,True,False
1,5575-GNVDE,1,0,0,0,34,1,0,1,0,...,56.95,1889.50,0,False,False,True,False,False,False,True
2,3668-QPYBK,1,0,0,0,2,1,0,1,1,...,53.85,108.15,1,False,False,False,False,False,False,True
3,7795-CFOCW,1,0,0,0,45,0,0,1,0,...,42.30,1840.75,0,False,False,True,False,False,False,False
4,9237-HQITU,0,0,0,0,2,1,0,0,0,...,70.70,151.65,1,True,False,False,False,False,True,False

In [74]:
# --- ÉTAPE 3 : Suppression de la colonne inutile customerID ---
df.drop("customerID", axis=1, inplace=True)

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,29.85,29.85,0,False,False,False,False,False,True,False
1,1,0,0,0,34,1,0,1,0,1,...,56.95,1889.50,0,False,False,True,False,False,False,True
2,1,0,0,0,2,1,0,1,1,0,...,53.85,108.15,1,False,False,False,False,False,False,True
3,1,0,0,0,45,0,0,1,0,1,...,42.30,1840.75,0,False,False,True,False,False,False,False
4,0,0,0,0,2,1,0,0,0,0,...,70.70,151.65,1,True,False,False,False,False,True,False

In [75]:

# Aperçu des valeurs d'origine
print("Avant normalisation:")
print(df[num_cols].describe())

# Normalisation
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

# Aperçu des valeurs après normalisation
print("\nAprès normalisation:")
print(df[num_cols].describe())

Avant normalisation:
            tenure  MonthlyCharges  TotalCharges
count  7032.000000     7032.000000   7032.000000
mean     32.421786       64.798208   2283.300441
std      24.545260       30.085974   2266.771362
min       1.000000       18.250000     18.800000
25%       9.000000       35.587500    401.450000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.862500   3794.737500
max      72.000000      118.750000   8684.800000

Après normalisation:
             tenure  MonthlyCharges  TotalCharges
count  7.032000e+03    7.032000e+03  7.032000e+03
mean  -1.126643e-16    6.062651e-17 -1.119064e-16
std    1.000071e+00    1.000071e+00  1.000071e+00
min   -1.280248e+00   -1.547283e+00 -9.990692e-01
25%   -9.542963e-01   -9.709769e-01 -8.302488e-01
50%   -1.394171e-01    1.845440e-01 -3.908151e-01
75%    9.199259e-01    8.331482e-01  6.668271e-01
max    1.612573e+00    1.793381e+00  2.824261e+00

In [76]:
# NORMALISATION 
# Mise a l'echelle de toute les variables numérique => acceleration du ML
# Normalisation des variables numériques
num_cols = ["tenure", "MonthlyCharges", "TotalCharges"]
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,-1.280248,0,0,0,1,0,...,-1.161694,-0.994194,0,False,False,False,False,False,True,False
1,1,0,0,0,0.064303,1,0,1,0,1,...,-0.260878,-0.173740,0,False,False,True,False,False,False,True
2,1,0,0,0,-1.239504,1,0,1,1,0,...,-0.363923,-0.959649,1,False,False,False,False,False,False,True
3,1,0,0,0,0.512486,0,0,1,0,1,...,-0.747850,-0.195248,0,False,False,True,False,False,False,False
4,0,0,0,0,-1.239504,1,0,0,0,0,...,0.196178,-0.940457,1,True,False,False,False,False,True,False

In [77]:
df.dtypes.reset_index().rename(columns={'index': 'Colonne', 0: 'Type'})

                                  Colonne     Type
0                                  gender    int64
1                           SeniorCitizen    int64
2                                 Partner    int64
3                              Dependents    int64
4                                  tenure  float64
5                            PhoneService    int64
6                           MultipleLines    int64
7                          OnlineSecurity    int64
8                            OnlineBackup    int64
9                        DeviceProtection    int64
10                            TechSupport    int64
11                            StreamingTV    int64
12                        StreamingMovies    int64
13                       PaperlessBilling    int64
14                         MonthlyCharges  float64
15                           TotalCharges  float64
16                                  Churn    int64
17            InternetService_Fiber optic     bool
18                     InternetService_No     bool
19                      Contract_One year     bool
20                      Contract_Two year     bool
21  PaymentMethod_Credit card (automatic)     bool
22         PaymentMethod_Electronic check     bool
23             PaymentMethod_Mailed check     bool

In [78]:
# Liste des colonnes one-hot à convertir
onehot_cols_to_int = [
    "InternetService_Fiber optic",
    "InternetService_No",
    "Contract_One year",
    "Contract_Two year",
    "PaymentMethod_Credit card (automatic)",
    "PaymentMethod_Electronic check",
    "PaymentMethod_Mailed check"
]

# Conversion de ces colonnes en int
df[onehot_cols_to_int] = df[onehot_cols_to_int].astype(int)

In [79]:
df.dtypes.reset_index().rename(columns={'index': 'Colonne', 0: 'Type'})

                                  Colonne     Type
0                                  gender    int64
1                           SeniorCitizen    int64
2                                 Partner    int64
3                              Dependents    int64
4                                  tenure  float64
5                            PhoneService    int64
6                           MultipleLines    int64
7                          OnlineSecurity    int64
8                            OnlineBackup    int64
9                        DeviceProtection    int64
10                            TechSupport    int64
11                            StreamingTV    int64
12                        StreamingMovies    int64
13                       PaperlessBilling    int64
14                         MonthlyCharges  float64
15                           TotalCharges  float64
16                                  Churn    int64
17            InternetService_Fiber optic    int64
18                     InternetService_No    int64
19                      Contract_One year    int64
20                      Contract_Two year    int64
21  PaymentMethod_Credit card (automatic)    int64
22         PaymentMethod_Electronic check    int64
23             PaymentMethod_Mailed check    int64

In [85]:
print("Dimensions finales :", df.shape)
df.head()

Dimensions finales : (7032, 24)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,MonthlyCharges,TotalCharges,Churn,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,-1.280248,0,0,0,1,0,...,-1.161694,-0.994194,0,0,0,0,0,0,1,0
1,1,0,0,0,0.064303,1,0,1,0,1,...,-0.260878,-0.173740,0,0,0,1,0,0,0,1
2,1,0,0,0,-1.239504,1,0,1,1,0,...,-0.363923,-0.959649,1,0,0,0,0,0,0,1
3,1,0,0,0,0.512486,0,0,1,0,1,...,-0.747850,-0.195248,0,0,0,1,0,0,0,0
4,0,0,0,0,-1.239504,1,0,0,0,0,...,0.196178,-0.940457,1,1,0,0,0,0,1,0

In [88]:
file_path = "../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv"

# Chargement du dataset
df_raw = pd.read_csv(file_path)
print("Dimensions initiales :", df_raw.shape)
print("Dimensions finales :", df.shape)

Dimensions initiales : (7043, 21)
Dimensions finales : (7032, 24)

In [81]:
# Export du dataset préparé
export_path = "../data/processed/prepared_dataset_normalized.csv"
df.to_csv(export_path, index=False)
export_path

'../data/processed/prepared_dataset_normalized.csv'